# Copier ce fichier en passwords.yaml et remplir les valeurs.
# Ne jamais commiter passwords.yaml (il est dans server/.gitignore).

shared:
  mySharedPassword: 'my password'

development:
  database: 'VOTRE_MOT_DE_PASSE_POSTGRESQL'
  redis: ''

  serviceSecret: 'generez-une-cle-secrete'
  emailSecretHashPepper: 'generez-une-cle'
  jwtHmacSha512PrivateKey: 'generez-une-cle'
  jwtRefreshTokenHashPepper: 'generez-une-cle'

test:
  database: ''
  redis: ''
  emailSecretHashPepper: ''
  jwtHmacSha512PrivateKey: ''
  jwtRefreshTokenHashPepper: ''
